#header
  %ul
  %li= link_to "Home", root_path
  %li
    - if current_user
      = "Hello, "
      = link_to current_user.name, user_path(current_user)
      = "."
      = link_to "Logout", logout_path, method: :delete
      = current_user.access_token
      = " - "
      = current_user.refresh_token
    - else
      = link_to "Sign in to Reddit", "https://www.reddit.com/api/v1/authorize?client_id=#{ENV['REDDIT_KEY']}&response_type=code&state=1270013000&redirect_uri=#{ENV['REDDIT_REDIRECT']}&duration=permanent&scope=#{ENV['REDDIT_PERMISSION']}"
